In [128]:
from random import randint, shuffle, seed

def DNI():
    dni = ""
    
    for i in range(1,8):
        dni += str(randint(0, 9))

    NIF='TRWAGMYFPDXBNJZSQVHLCKE'.lower()
    dni += str(NIF[int(dni)%23])

    return dni

def NIF(tipus):
    def s(n):
        mul = n * 2
        if mul >= 10:
            smul = str(mul)
            return int(smul[0]) + int(smul[1])
        
        return mul
        
    nif = ""
    
    for i in range(1, 8):
        nif += str(randint(0, 9))
        
    pars = int(nif[1]) + int(nif[3]) + int(nif[5])
    senars = s(int(nif[0])) + s(int(nif[2])) + s(int(nif[4])) + s(int(nif[6]))
    total = pars + senars
    
    digit = str(total)[-1]
    if digit == "0":
        control = 0
    else:
        control = 10 - int(digit)
        
    return tipus + '-' + nif + str(control)

In [88]:
NIF('A')

'A-92019132'

In [7]:
import unicodedata

def remove_accents(s):
    s = unicode(s, errors='replace')
    return unicodedata.normalize('NFD', s).encode('ascii', 'ignore')

with open('noms.txt') as f:
    noms = f.readlines()
    
    def nom():
        n = ""
        while n == "":
            n = remove_accents(noms[randint(0,len(noms))].strip()).title()
        return n
    
with open('cognoms.txt') as f:
    cognoms = f.readlines()
    
    def cognom():
        n = ""
        while n == "":
            n = remove_accents(cognoms[randint(0,len(cognoms))].strip()).title()
        return n
    
def tel():
    return str(randint(100000000,999999999))

In [8]:
print nom() + ' ' + cognom(), tel(), DNI()

Pau De-La-Torre 545822417 0446879n

In [212]:
from datetime import datetime

def rdate():
    year = randint(2001, 2014)
    month = randint(1, 10)
    day = randint(1, 28)
    
    d = randint(1, 2)
    
    return [str(year) + "/" + str(month) + "/" + str(day), \
            str(year) + "/" + str(month + d) + "/" + str(day),\
           [year, month, day], \
           [year, month + d, day] \
            ]

def incDate(d):
    d[2] += 1
    if d[2] >= 28:
        d[2] = 1
        d[1] += 1
        
    if d[1] > 12:
        d[1] = 1
        d[0] += 1
    
    return d

In [223]:
numEmpreses = 4
treballadors =  [0] * numEmpreses
comercials = [[] for i in range(0, numEmpreses)]
empreses = ["" for i in range(0, numEmpreses)]
visitants = []

numUbicacions = 4
numEsdeveniments = 2

numEdicions = 4
edicions = [[] for i in range(0, numEsdeveniments)]
datesEdicions = [[] for i in range(0, numEsdeveniments)]

numEstands = 10

estands = [""] * numEstands
estandsEdicio = [[[] for i in range(0, numEdicions)] for k in range(0, numEsdeveniments)]
ubicacions = [[[] for i in range(0, numEdicions)] for k in range(0, numEsdeveniments)]

ambEntrada =  [[[] for i in range(0, numEdicions)] for k in range(0, numEsdeveniments)]

seed(123456789L)

with open("empresa/insert.sql", "w") as f:
    f.write("\echo ---------- insert empresa\n")
    f.write("INSERT INTO empresa VALUES ")
        
    for i in range(0, numEmpreses):
        empreses[i] = NIF('B')
        f.write("('" + empreses[i] + "', 'Empresa " + str(i + 1) + " s.l.')" + \
                ("," if i != numEmpreses - 1 else ";") + "\n")
        
with open("persona/insert.sql", "w") as f:
    with open("comercial/insert.sql", "w") as fc:
        f.write("\echo ---------- insert persona\n")
        f.write("INSERT INTO persona VALUES ")
        
        fc.write("\echo ---------- insert comercial\n")
        fc.write("INSERT INTO comercial VALUES ")

        aux = 0
        
        for i in range(1, 100):
            try:
                d = DNI()
                f.write("('" + d + "', '" + nom() + " " + cognom() + "', '" + tel() + "')" + \
                        ("," if i != 99 else ";") + "\n")

                if any(treballadors) != 5 and randint(1,9) % 3 == 0:
                    e = randint(0, numEmpreses - 1)
                    while treballadors[e] == 5:
                        e = randint(1, numEmpreses)
                    
                    treballadors[e] += 1
                    comercials[e].append(d)
                    fc.write(("" if aux == 0 else ",\n") + "('" + d + "', 0, '" + empreses[e] + "')")
                    aux += 1
                else:
                    visitants.append(d)
                
            except:
                pass
            
        fc.write(";")
        
with open("ubicacio/insert.sql", "w") as f:
    f.write("\echo ---------- insert ubicacio\n")
    f.write("INSERT INTO ubicacio VALUES ")
    
    for i in range(1, numUbicacions + 1):
        f.write("('Ubicacio " + str(i) + "', 'Fira Montjuic Edifici " + str(i) + "')" + \
                ("," if i != numUbicacions else ";") + "\n")
        
with open("esdeveniment/insert.sql", "w") as f:
    f.write("\echo ---------- insert esdeveniments\n")
    f.write("INSERT INTO esdeveniment VALUES ")
    
    for i in range(1, numEsdeveniments + 1):
        f.write("('Esdeveniment " + str(i) + "', '" + ('anual' if i % 2 == 0 else 'bianual') + "', '" + \
                empreses[randint(0, numEmpreses - 1)] + "')" + ("," if i != numEsdeveniments else ";") + "\n")
        
with open("edicio/insert.sql", "w") as f:
    f.write("\echo ---------- insert edicio\n")
    f.write("INSERT INTO edicio VALUES ")
    
    for i in range(1, numEdicions + 1):
        
        dates = rdate()
        e = randint(1, numEsdeveniments)
        
        edicions[e - 1].append(dates[0])
        datesEdicions[e - 1].append((dates[2], dates[3]))
        
        f.write("('" + dates[0] + "', '" + dates[1] + "', 0, 0, 'Esdeveniment " + \
                str(e) + "')" + ("," if i != numEdicions else ";") + "\n")

with open("estand/insert.sql", "w") as f:
    f.write("\echo ---------- insert estand\n")
    f.write("INSERT INTO estand VALUES ")
    
    for i in range(1, numEstands + 1):
        estands[i - 1] = randint(1, numUbicacions)
        
        f.write("('Estand " + str(i) + "', " + ('true' if randint(0, 1) else 'false') + ", " + \
                str(randint(300, 1200)) + ", " + str(randint(20, 50)) + ", " + str(randint(20, 50)) + \
                ", 'Ubicacio " + str(estands[i - 1]) + "')" + \
                ("," if i != numEstands else ";") + "\n")
        
    
with open("entrada/insert.sql", "w") as f:
    f.write("\echo ---------- insert entrada\n")
    f.write("INSERT INTO entrada VALUES ")
    
    aux = 0
    for esd in range(1, numEsdeveniments + 1):
        for edi in range(1, len(edicions[esd-1])):
    
            for i in range(0, len(visitants)):
                if randint(1, 9) % 4 != 0:
                    ambEntrada[esd - 1][edi - 1].append(visitants[i])
                    
                    f.write(("" if aux == 0 else ",\n") + "('Esdeveniment " + str(esd) + "', '" + edicions[esd - 1][edi - 1] + "', '" + \
                            visitants[i] + "')")

                    aux += 1
                    
    f.write(";\n")
    
with open("entrada/insert.sql", "w") as f:
    f.write("\echo ---------- insert entrada\n")
    f.write("INSERT INTO entrada VALUES ")
    
    aux = 0
    for esd in range(1, numEsdeveniments + 1):
        for edi in range(1, len(edicions[esd-1])):
    
            for i in range(0, len(visitants)):
                if randint(1, 9) % 4 != 0:
                    f.write(("" if aux == 0 else ",\n") + "('Esdeveniment " + str(esd) + "', '" + edicions[esd - 1][edi - 1] + "', '" + \
                            visitants[i] + "')")

                    aux += 1
                    
    f.write(";\n")
    

    
with open("localitzada/insert.sql", "w") as f:
    f.write("\echo ---------- insert localitzada\n")
    f.write("INSERT INTO localitzada VALUES ")
    
    aux = 0
    for esd in range(1, numEsdeveniments + 1):
        for edi in range(1, len(edicions[esd-1])):
    
            num = randint(numEmpreses, numEstands)
            ubi = range(1, numEstands + 1)
            shuffle(ubi)
            ubi = ubi[:num]
            
            estandsEdicio[esd - 1][edi - 1] = ubi[:]
            ubicacions[esd - 1][edi - 1] = set([estands[i - 1] for i in ubi])
            
            for u in ubicacions[esd - 1][edi - 1]:
                f.write(("" if aux == 0 else ",\n") + "('Esdeveniment " + str(esd) + "', '" + edicions[esd - 1][edi - 1] + "', '" + \
                            "Ubicacio " +  str(u) + "')")
                
                aux += 1
                    
    f.write(";\n")

with open("aten/insert.sql", "w") as f:
    with open("pertany/insert.sql", "w") as fp:
        f.write("\echo ---------- insert aten\n")
        f.write("INSERT INTO aten VALUES ")
        
        fp.write("\echo ---------- insert pertany\n")
        fp.write("INSERT INTO pertany VALUES ")
        
        aux = 0
        aux2 = 0
        for esd in range(1, numEsdeveniments + 1):
            for edi in range(1, len(edicions[esd-1])):

                empresaEstand = estandsEdicio[esd - 1][edi - 1][:]
                shuffle(empresaEstand)

                for emp in range(1, numEmpreses + 1):
                    for tre in range(1, treballadors[emp - 1]):
                        f.write(("" if aux == 0 else ",\n") + "('Esdeveniment " + str(esd) + "', '" + edicions[esd - 1][edi - 1] + "', '" + \
                                "Estand " + str(empresaEstand[emp - 1]) + "', '" + comercials[emp - 1][tre - 1] + "')")

                        aux += 1

                    fp.write(("" if aux2 == 0 else ",\n") + "('Esdeveniment " + str(esd) + "', '" + edicions[esd - 1][edi - 1] + "', '" + \
                                    "Estand " + str(empresaEstand[emp - 1]) + "', '" + empreses[emp - 1] + "')")
                    aux2 += 1
                  
        fp.write(";\n")  
    f.write(";\n")
    
    
with open("reunio/insert.sql", "w") as f:
    f.write("\echo ---------- insert reunio\n")
    f.write("INSERT INTO reunio VALUES ")
    
    aux = 0
    for emp in range(0, numEmpreses):
        com = comercials[emp][:]
        shuffle(com)
        
        for esd in range(1, numEsdeveniments + 1):
            for edi in range(1, len(edicions[esd-1])):
                
                for i in range(0, randint(0, len(com))):
                    data = datesEdicions[esd - 1][edi -1][0]

                    for j in range(0, min(randint(0, 20), len(ambEntrada[esd - 1][edi - 1]))):
                        c = com[i]
                        p = ambEntrada[esd - 1][edi - 1][j]


                        f.write(("" if aux == 0 else ",\n") + "('" + c + "', '" + p + "', '" + \
                                str(data[0]) + "/" + str(data[1]) + "/" + str(data[2]) + "')")

                        aux += 1
                        data = incDate(data)
                    
    f.write(";\n")

In [220]:
d

'6673300b'

In [154]:
estands

[2, 1, 2, 1, 1, 3]